/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.themed-content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
 
.themed-content.default{
    background-color: #eee;
}

.themed-content.crazy {
    color: #e1e8ed;
    background-color:#1b2836;
}